<ol class="breadcrumb">
	<li class="active">当前位置</li>
	<li class="active">项目管理</li>
</ol>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">项目管理</h3>
	</div>
	<div class="panel-body">

		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-sm-2">项目名称</th>
					<th class="col-sm-2">客户名称</th>
					<th class="col-sm-2">销售人员</th>
					<th class="col-sm-2">售前人员</th>
					<th class="col-sm-2">项目阶段</th>
					<th class="col-sm-2">操作</th>
				</tr>
			</thead>
			<tbody data-bind="foreach:projectList">
				<tr>
					<td data-bind="text:projectName"></td>
					<td data-bind="text:customerName"></td>
					<td data-bind="text:salesMan"></td>
					<td data-bind="text:preSale"></td>
					<td data-bind="text:salesStage"></td>
					<td> <button data-bind="click:$parent.showDetial,visible:!detailsEnabled()">详情</button>
						<button data-bind="click:$parent.showDetial,visible:detailsEnabled">隐藏</button>
					</td>
				</tr>
				<!-- ko if : detailsEnabled -->
				<tr class="projectList">
					<td colspan="3">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-6 control-label">所属大区：</label>
								<div class="col-sm-6 projectdetials" data-bind="text:regionName">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-6 control-label">分公司：</label>
								<div class="col-sm-6 projectdetials" data-bind="text:branchName">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-6 control-label">一级行业：</label>
								<div class="col-sm-6 projectdetials" data-bind="text:onelevelProfession">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-6 control-label">是否独签：</label>
								<div class="col-sm-6 projectdetials" data-bind="text:isSingle">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-6 control-label">主要竞争对手：</label>
								<div class="col-sm-6 projectdetials" data-bind="text:competitor">
								</div>
							</div>
						</form>
					</td>
					<td colspan="3">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-6 control-label">预计签约时间：</label>
								<div class="col-sm-6 projectdetials" data-bind="text:estimatedTime">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-6 control-label">平台增值产品：</label>
								<div class="col-sm-6 projectdetials" data-bind="text:valueaddProduct">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-6 control-label">预计签约金额：</label>
								<div class="col-sm-6 projectdetials">
									<span data-bind="text:estimatedAmount"></span>万
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-6 control-label">预计产品金额：</label>
								<div class="col-sm-6 projectdetials">
									<span data-bind="text:productAmount"></span>万
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-6 control-label">具体项目需求：</label>
								<div class="col-sm-6 projectdetials" data-bind="text:projectRequirement">
								</div>
							</div>
						</form>
					</td>
				</tr>
				<tr>
					<td colspan="7">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-12 control-label" style="text-align:center;">项目跟进记录</label>
								<ul class="col-sm-12" data-bind="foreach:projectFollow">
									<li class="profollow">
										<span data-bind="text:createTime"></span>
										<span data-bind="text:record"></span>
									</li>
								</ul>
							</div>
						</form>
					</td>
				</tr>
				<tr class="projectList">
					<td colspan="7">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-12 control-label" style="text-align:center;">下一步计划</label>
								<ul class="col-sm-12">
									<li class="profollow">
										<span data-bind="text:nextStepInfo().nextStep">
							</li>
						
						</ul>
					</div>
				</form>
			</td>
		</tr>
		<!-- /ko -->
	</tbody>
</table>

	</div>
</div>