

<div class="table-responsive table-bordered">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>姓名</th>
				<th>登录名</th>
				<th>员工状态</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<!-- ko foreach:userItemList -->
			<tr>
				<td data-bind="text: id"></td>
				<!-- ko ifnot:isEditUser -->
				<td data-bind="text: name"></td>
				<!-- /ko -->
				<!-- ko if:isEditUser -->
				<td style="width:150px;"><input style="width:140px;" data-bind="textInput: name"></td>
				<!-- /ko -->
				<td data-bind="text: loginName"></td>
				<td data-bind="text: status"></td>
				<td data-bind="text: registerDate"></td>
				<td>
					<!-- ko ifnot:isEditUser -->
					<button data-bind="click: $parent.editUser"  class="btn btn-success">修改</button>
					<!-- /ko -->
					<!-- ko if:isEditUser -->
					<button data-bind="click: $parent.saveEdit"  class="btn btn-success">提交</button>
					<!-- /ko -->
				</td>
			</tr>
			<!-- /ko -->
		</tbody>
	</table>
</div>