.role-table{
    width:100%;
    margin:50px auto;
    background:#ffffff;
    height:400px;
    border: 1px solid #dee1e2;
    border-radius: 2px ;
}
.role-left{
    padding:0 10px;
    width:30%;
    float:left;
    font-size:16px;
    height:400px;
    border-right:1px solid #dee1e2;
}
.role-left table{
    border-bottom:1px solid #dee1e2; 
}
.role-right{
    padding:0 50px;
    width:70%;
    float:right;
  
}
.delete-role{
    line-height: 22px;
    float: right;
    color:#ff3030;
}
.delete-role:hover{
   color:#ff6666;
}
.delete-role:active{
    color: #ff0000;
}
.role-hov:hover{
    color:#333333;
}
.selected{
    background: #357ebd;
    color:#ffffff;
}
.projectdetials{
    padding-top:7px; 
}
.projectList{
    background:#eeeeee; 
}
.profollow{
    list-style:none;
    padding-left:40%;
    line-height:30px;
}
.gopage{
    border-radius:1px;
    width:50px;
}
.buttongopage{
    background-color: #5bc0de;
    border-color: #28a4c9;
    border-radius: 4px ;
    color:#ffffff;
}