.role-table{
    width:90%;
    margin:50px auto;
    background:#eeeeee;
    height:400px;
}
.role-table .role-left{
    width:30%;
    float:left;
    background: #dddddd;
   
}
.role-table .role-right{
    width:70%;
    float:right;
  
}
.selected{
    background: #8778ff;
    color:#333333;
}